* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding: 0 100px 100px;
}

nav ul, 
.main-info-section,
.projects-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


body {
    background-color: #252627;
}

header {
    display: flex;
    flex-wrap: wrap;
}

.navbar {
    background-color: #181818;
}

header h1, 
.text p,
.about h1,
.skills h1,
.contact h1 {
    color: #707070;
}

.navbar {
    height: 100px;
}

.logo h1 {
    margin-top: 6.5%;
}

.navc {
    top: 50px;
    right: 1px;
    margin-left: 30%;
    padding-right: 5%;
    margin-top: 2%;
    
}

.navbar a {
    background-color: none;
    color: #707070;
    font-size: 1.5rem;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
}

.navbar a:hover, .logo h1:hover {
    color: #48CFAD;
    transition: all .5s;
}

    

li {
    list-style: none;
    margin-left: 30px;
}

a {
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
}

.main-info-section {
    height: 70vh;
}

.text {
    margin-top: 120px;
}

.text h1 {
    color: #fff;
    font-size: 3rem;
    cursor: context-menu
}

.text span {
    display: inline-block;
}

span:hover {
    color: #48CFAD;
    transition: all .5s;
}

span.name {
    color: #ED5565;
}

span.m-left {
    margin-left: -10px;
}


.text a {
    padding: 12px 25px;
    background-color: none;
    border: 3px solid #ED5565;
    color: #ED5565;
    font-size: .8rem;
    letter-spacing: 2px;
    position: relative;
    top: 80px;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
}

.text a:hover {
    color:#fff;
}

.text a::before {
    content: '';
    background-color: #ED5565;
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}

.text a:hover::before {
    height: 100%;
}



.about {
    height: 70vh;
    margin-top: 20px;
}

.about h1,
.projects h1, 
.contact h1 {
    font-size: 10rem;
    z-index: 0;
    opacity: .1;
}

.about-me-info {
    max-width: 900px;
    background-color: #252627;
    box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
    padding: 50px;
    position: relative;
    top: -70px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

a.about-me-info p {
    font-size: 1.3rem;
    color: #BEBEBE;
}

.about-me-info p:nth-child(2),
.about-me-info p:last-child {
    margin-top: 30px;
}

.about img {
    width: 300px;
    position: relative;
    top: -200px;
    left: calc(100% - 100px);
    right: calc(100% - 100px);
    transform: translateX(calc(-100% + 20px));
}

.skills {
    height: 60vh;
}

.skills h1 {
    text-align: right;
    font-size: 10rem;
    opacity: .1;
}

.skills-info {
    background-color:none;
    padding: 50px;
    top: 60px;
    margin-left: 50%;
    margin-right: 10px;
    color: #fff;
    font-size: 1.4rem;
    color:black;
}

.contact h1 {
    text-align: left;
    font-size: 10rem;
    opacity: .1;
}

.contact p {
    background-color:none;
    padding: 50px;
    top: 60px;
    left: 20%;
    right: 50%;
    color: black;
    font-size: 1.4rem;
}